@font-face {
    font-family: 'Digital';
    src: url('Digital.otf') format('opentype');
}
body {
    font-family: Digital;
    color: limegreen;
    text-align: center;
    background-color: white;
    width: 250px;
}
#clock {
    font-size: 48px;
    font-weight: bold;
}
#date {
    font-size: 18px;
}